html, body {
    margin: 0 0;
    padding: 0 0;
    text-align: center;
}
h1, h2, h3, h4, h5, h6 {
    text-color: #aaaaaa;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-item {
    width: 450px;
    height: 50px;
}

@media only screen and (max-width: 500px) {

    #logo {
        transform: scale(0.5);
    }

}
